<div class="container page-content">
  <div class="row">
    <h1 class="title">
      <i class="fa fa-book" aria-hidden="true"></i>
      Education
    </h1>
  </div>

  <ul class="nav sub-nav nav-tabs mb-3">
    <li class="nav-item" (click)="switchTab(0)">
      <a class="nav-link" [ngClass]="{'active': currentTab===0}">
        Timeline
      </a>
    </li>
    <li class="nav-item" (click)="switchTab(1)">
      <a class="nav-link" [ngClass]="{'active': currentTab===1}">
        Courses
      </a>
    </li>
  </ul>

  <div class="row" *ngIf="currentTab===0">
    <div class="col-12"><p>I hold master's degrees in both <span class="text first">Chemistry</span> and <span class="text first">Computer Science</span>.</p></div>
    <div class="col-12">
      <app-timeline
        [list]="educationList"
        [config]="timelineConfig">
      </app-timeline>
    </div>
  </div>

  <div class="row" *ngIf="currentTab===1">

    <div class="col-sm-6 px-lg-5 skill-column">
      <h5 class="text first">Tufts Courses</h5>
      <span> 2015 - 2017:</span>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let course of tuftsCoursesList">
          {{course.name}} ({{course.code}})
        </li>
      </ul>
    </div>

    <div class="col-sm-6 px-lg-5 skill-column">
      <h5 class="text first">Independent Courses</h5>
      <span> including but not limited to:</span>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let course of independentCoursesList">
          {{course.name}} ({{course.from}})
        </li>
      </ul>
    </div>
  </div>
</div>
