<footer class="fixed-bottom bg-dark text-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 d-none d-lg-flex py-2">
        <button class="btn btn-circle btn-m  small-text mr-1">
          <span class="align-middle"><i class="text fa fa-envelope" aria-hidden="true"></i></span>
        </button>
        <span>yangracehuo@gmail.com</span>
      </div>
      <div class="col-lg-4 d-none d-lg-flex py-2">
        <button class="btn btn-circle btn-m mr-1">
          <span class="align-middle"><i class="fa fa-phone" aria-hidden="true"></i></span>
        </button>
        <span>352-278-6271</span>
      </div>
      <div class="col-lg-4 py-2">
        <button class="btn btn-circle btn-m mr-1">
          <span class="align-middle"><i class="fa fa-plus" aria-hidden="true"></i></span>
        </button>

        <!-- linkedIn -->
        <a href="https://www.linkedin.com/in/yan-huo" target="_blank">
          <i class="fa fa-linkedin fa-inverse"></i>
        </a>

        <!-- gitHub1 -->
        <a href="https://github.com/yanhuowang" target="_blank">
          <i class="fa fa-github-alt fa-inverse"></i>
        </a>
        <span>(work)</span>

        <!-- gitHub1 -->
        <a href="https://github.com/GraceHuo" target="_blank">
          <i class="fa fa-github-alt fa-inverse"></i>
        </a>
        <span>(university)</span>

      </div>
    </div>
  </div>
</footer>
