.card {
  &:active, &:hover, &:focus {
    outline : 2px solid #4FB7BA;
  }
  height : 100%;

  .card-body {
    background-color : #F1F1F1;
    .card-text {
      margin-bottom: 3rem;
    }
    .btn {
      background-color : #4FB7BA;
      color            : #FFF;
      position         : absolute;
      bottom           : 1rem;
      right            : 1rem;
      &:hover {
        background-color : darken(#4FB7BA, 10)
      }
    }
  }
}
