<div class="container page-content pt-4">
  <div class="row mb-3">
    <button class="btn ml-3" [routerLink]="['/projects']">Back</button>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4">
      <img class="card-img-top img-thumbnail" src="{{project.image}}" alt="project_image">
    </div>
    <div class="col-12 col-sm-8">
      <h4 class="text first mt-4 mt-sm-0">{{project?.title}}</h4>
      <div> {{project?.location}}</div>
      <div>
        {{project?.startDate | date:'MMM yyyy'}} -
        <span *ngIf="project?.endDate">{{project?.endDate | date:'MMM yyyy'}} </span>
        <span *ngIf="!project?.endDate">Present </span>
      </div>

      <!--descriptions-->
      <div class="mt-3">
        <div class="text second"><b>Descriptions:</b></div>
        <div>{{project?.description}}</div>
      </div>

      <!--details-->
      <div class="mt-3" *ngIf="project.details || (project.detailsList && project.detailsList.length)">
        <div class="text second"><b>Details:</b></div>
        <div>{{project?.details}}</div>
        <div class="ml-2" *ngFor="let item of project.detailsList">
          <li>{{item}}</li>
        </div>
      </div>

      <!--skills-->
      <div class="mt-3">
        <div class="text second"><b>Key Words:</b></div>
        <div class="ml-2" *ngFor="let item of project.skills">
          <li>{{item}}</li>
        </div>
      </div>

      <!--url and report-->
      <div class="mt-3">
        <button *ngIf="project.url" class="btn"><a href="{{project.url}}" target="_blank">Project Url</a></button>
        <button *ngIf="project.apiUrl" class="btn"><a href="{{project.apiUrl}}" target="_blank">Api Url</a></button>
        <button *ngIf="project.report" class="btn"><a href="{{project.report}}" target="_blank">Report</a></button>
        <button *ngIf="project.thesis" class="btn"><a href="{{project.thesis}}" target="_blank">Thesis</a></button>
      </div>

    </div>
  </div>
</div>
