<div class="container page-content">
  <div class="row">
    <h1 class="title ml-3">
      <i class="fa fa-suitcase" aria-hidden="true"></i>
      Experience
    </h1>
  </div>

  <ul class="nav sub-nav nav-tabs">
    <li class="nav-item" (click)="switchTab(0)">
      <a class="nav-link" [ngClass]="{'active': currentTab===0}">
        Industrial <span class="hidden-small">Experience</span>
      </a>
    </li>
    <li class="nav-item" (click)="switchTab(1)">
      <a class="nav-link" [ngClass]="{'active': currentTab===1}">
        Academic <span class="hidden-small">Experience</span>
      </a>
    </li>
  </ul>

  <div class="row" *ngIf="currentTab===0">
    <div class="col-12">
      <app-timeline
        [list]="workList"
        [config]="timelineConfig">
      </app-timeline>
    </div>
  </div>

  <div class="row"  *ngIf="currentTab===1">
    <div class="col-12">
      <app-timeline
        [list]="academicList"
        [config]="timelineConfig">
      </app-timeline>
    </div>
  </div>
</div>
