<div class="timeline">
  <div class="timeline-center-line"></div>
  <div class="timeline-content">

    <!-- artical -->
    <div class="timeline-article"
         *ngFor="let article of list; let i = index">
      <div class="timeline-break-point"></div>
      <div class="timeline-container timeline-container-left wow fadeInLeft">
        <h5 class="timeline-title">
          <b>
            {{article.startDate | date:'MMM yyyy'}} -
            <span *ngIf="article.endDate">{{article.endDate | date:'MMM yyyy'}} </span>
            <span *ngIf="!article.endDate">Present </span>
          </b></h5>
        <span> {{article[config.leftContent]}} </span>
      </div>
      <div class="timeline-container timeline-container-right wow fadeInRight">
        <h5 class="timeline-title">
          <div class="logo-container"
               [ngClass]="{'small-img':config.isLogo}">
            <img class="inline-logo" src="{{article.logo}}" alt="logo">
          </div>
          <b>{{article[config.rightTitle]}}</b>
        </h5>
        <span>{{article[config.rightContent]}}</span>
        <div *ngIf="article[config.rightList]">

          <a *ngIf="article[config.rightList] && article[config.rightList].length"
             class="details-link"
             data-toggle="collapse"
             href="{{'#collapse'+i}}"
             role="button"
             aria-expanded="false"
             aria-controls="collapseExample">
            Details
          </a>
          <div class="collapse" id="{{'collapse'+i}}">
            <li *ngFor="let item of article[config.rightList]">
              {{item}}
            </li>
          </div>
        </div>
      </div>
    </div> <!-- end of article -->

  </div> <!-- end of timeline content -->
</div> <!-- end of timeline -->
