<div class="container page-content">
  <div class="row">
    <h1 class="title ml-3">
      <i class="fa fa-wrench" aria-hidden="true"></i>
      Skills
    </h1>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-6 px-lg-5 skill-column">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let category of skills[0].list">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-lg-4">
                <b>{{category.title}}:</b>
              </div>
              <div class="col-md-7 col-lg-8">
                <div *ngFor="let item of category.items">
                  <i class="fa fa-circle"
                     [ngClass]="{'first':item.level===1, 'second':item.level===2, 'third':item.level===3}"
                     aria-hidden="true"></i>
                  {{item.name}}
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm-6 px-lg-5 skill-column">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let category of skills[1].list">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-lg-4">
                <b>{{category.title}}:</b>
              </div>
              <div class="col-md-7 col-lg-8">
                <div *ngFor="let item of category.items">
                  <i class="fa fa-circle"
                     [ngClass]="{'first':item.level===1, 'second':item.level===2, 'third':item.level===3}"
                     aria-hidden="true"></i>
                  {{item.name}}
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
  <div class="row">
    <!--legend-->
    <div class="col-12 mt-5 px-lg-5">
      <div class="card py-1 px-3">
        <div *ngFor="let level of skillLevels">
          <i class="fa fa-circle"
             [ngClass]="{'first':level.code===1, 'second':level.code===2, 'third':level.code===3}"
             aria-hidden="true"></i>
          <b>{{level.name}}</b> :
          {{level.description}}
        </div>
      </div>
    </div>
  </div>
</div>

