<div class="container page-content">
  <div class="row">
    <h1 class="title">
      <i class="fa fa-certificate" aria-hidden="true"></i>
      Certifications & Awards
    </h1>
  </div>
  <hr>

  <h4 class="text second">Certifications</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of certificationsList">
      {{item.title}} ( {{item.from}} )
      <span class="pull-right">{{item.date}}</span>
    </li>
  </ul>

  <h4 class="text second mt-5">Awards</h4>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of awardsList">
      {{item.title}}
      <span class="pull-right">{{item.date}}</span>
    </li>
  </ul>
</div>
