<div class="container page-content">
  <div class="row print-hidden">
    <h1 class="title ml-3">
      <i class="fa fa-user" aria-hidden="true"></i>
      Resume
    </h1>
  </div>
  <hr class="print-hidden">

  <div class="row resume">
    <div class="col-4 left-section">
      <div class="section">
        <h3><b>Yan (Grace) Huo</b></h3>
        <h4>Software Developer</h4>
      </div>
      <h4 class="label"><b>Personal Info</b></h4>
      <div class="section">
        <b>Email</b><br>
        <span>yangracehuo@gmail.com</span>
      </div>
      <div class="section">
        <b>Address</b><br>
        <span>12804 Quail Creek Dr.</span><br>
        <span>Pearland, TX, 77584</span>
      </div>
      <div class="section">
        <b>Phone</b><br>
        <span>352-278-6271</span>
      </div>
      <div class="section">
        <b>Website</b><br>
        <b class="small-text">https://gracehuo.github.io/personalWeb</b>
      </div>
      <h4 class="label"><b>Skills</b></h4>
      <div class="section">
        <b>Programming Languages</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-5 m-1">
              <li>JavaScript</li>
              <li>Java</li>
              <li>ObjectScript</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>TypeScript</li>
              <li>Python</li>
              <li>C++/C</li>
            </ul>
          </div>
        </div>

        <b>Frameworks</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-5 m-1">
              <li>Angular</li>
              <li>Rails</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>NodeJs</li>
              <li>ExpressJs</li>
            </ul>
          </div>
        </div>

        <b>Web Development</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-5 m-1">
              <li>HTML</li>
              <li>CSS/SASS</li>
              <li>Bootstrap</li>
              <li>Foundation</li>
              <li>Responsive Design</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>RESTful</li>
              <li>jQuery</li>
              <li>JSON</li>
              <li>HighCharts</li>
              <li>d3.js</li>
            </ul>
          </div>
        </div>

        <b>Database</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-5 m-1">
              <li>SQL</li>
              <li>Redis</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>MongoDB</li>
            </ul>
          </div>
        </div>

        <b>Engineering Tools</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-5 m-1">
              <li>Git</li>
              <li>Unix/Linux</li>
              <li>Android</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>Gulp</li>
              <li>AWS</li>
            </ul>
          </div>
        </div>

        <b>Testing</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-5 m-1">
              <li>Jasmine</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>Mocha</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="col-8 right-section">
      <h4 class="label col-12"><b>Experience</b></h4>
      <div class="section">
        <div class="row p-0">
          <div class="col-8 p-0">
            <b>Intersystems Corp. </b><i>Software Developer</i><br>
            <span>specialized in web development</span>
          </div>
          <div class="col-4 p-0 text-right">
            <span class="">Feb 2017-present</span><br>
            <span>Cambridge, MA </span>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-12 p-0">
            <ul class="m-0">
              <li> Built HealthShare Operational Report (an interactive dashboard and report system) using Angular and d3.js</li>
              <li> Developed responsive and mobile friendly user interfaces for HealthShare Clinician Viewer, which linked to the electronic medical record system</li>
              <li> Supported HealthShare Personal Community (a patient portal) 12.2 release. Debugged existing code and developed new
                functionalities
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row p-0">
          <div class="col-8 p-0">
            <b>Neusoft Corp. </b><i>Intern Software Developer</i><br>
            <span>specialized in Android development</span>
          </div>
          <div class="col-4 p-0 text-right">
            <span class="">Jun 2015-Aug 2015</span><br>
            <span>Shenyang, China </span>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-12 p-0">
            <ul class="m-0">
              <li> Contributed to development of an education app for Android plateform using Java</li>
              <li> Worked with server API's via REST and parsed JSON</li>
            </ul>
          </div>
        </div>
      </div>

      <h4 class="label col-12"><b>Education</b></h4>
      <div class="section">
        <div class="row p-0">
          <div class="col-9 p-0">
            <b>Tufts University </b><i>MSc in Computer Science</i><br>
            <ul class="m-0">
              <li>GPA: 3.95/4.00</li>
            </ul>
          </div>
          <div class="col-3 p-0 text-right">
            <span class="">Jan 2017</span><br>
            <span>Medford, MA </span>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-12 p-0">
            <ul class="m-0">
              <li>Research assistant in Human-Computer Interaction Lab. Designed and implemented an Android app to communicate with smart
                wristband and detect emotion arousals in real-time
              </li>
              <li>Teaching assistant for courses <i>Database</i> and <i>Algorithm</i></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row p-0">
          <div class="col-9 p-0">
            <b>Tufts University </b><i>Post-Bac in Computer Science</i><br>
            <ul class="mb-0">
              <li>GPA: 4.00/4.00</li>
            </ul>
          </div>
          <div class="col-3 p-0 text-right">
            <span class="">May 2015</span><br>
            <span>Medford, MA </span>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-12 p-0">
            <ul class="m-0">
              <li>Selected Courses: Data Structures, Web Eng., Machine Learning, Operating Systems, Programming Languages</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row p-0">
          <div class="col-9 p-0">
            <b>University of Florida </b><i>MSc in Chemistry</i><br>
            <ul class="mb-0">
              <li>GPA: 3.87/4.00</li>
            </ul>
          </div>
          <div class="col-3 p-0 text-right">
            <span class="">May 2014</span><br>
            <span>Gainesville, FL </span>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-12 p-0">
            <ul class="m-0">
              <li>PhD candidate focused on magnetic materials</li>
            </ul>
          </div>
        </div>
      </div>

      <h4 class="label col-12"><b>Projects</b></h4>
      <div class="section">
        <div class="row p-0">
          <div class="col-12 p-0">
            <b>Web-based Incident Reporting System </b><br>
            <span>An app that allows people reporting and monitoring incidents</span>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-12 p-0">
            <ul class="m-0">
              <li> Built the app using Ruby on Rails and MySQL database</li>
              <li> Wrote RESTful APIs using Grape.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="row p-0">
          <div class="col-12 p-0">
            <b>Sentiment Analysis on Movie Reviews </b><br>
            <span>A Natural Language Processing (NLP) project using python</span>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-12 p-0">
            <ul class="m-0">
              <li> Investigated how machine learning based Maximum Entropy classifier works in sentiment analysis</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
