.resume {
  font-family : 'Open Sans', Helvetica, Arial, sans-serif !important;
  border      : solid 1px #343a40;
  width       : 850px;
  margin      : auto;

  .small-text {
    font-size : 0.8rem;
  }
  h3 {
    font-size : 1.4rem;
  }
  h4 {
    font-size : 1.2rem;
    margin-bottom : 0.2rem;
  }
  .section, .label {
    padding : 0.2rem 1rem;
    width   : 100%;
  }

  .left-section {
    padding: 0;
    padding-top: 0.4rem;
    .label {
      background-color : #002e58;
    }

    color            : #FFFFFF;
    background-color : #003d74;
  }

  .right-section {
    padding: 0.8rem;
    .section {
      padding-top    : 0;
      padding-bottom : 0.2rem;
    }
    .label {
      color         : #002e58;
      border-top    : solid 1px #ddd;
      border-bottom : solid 1px #ddd;
    }
  }
}

@media print {
  .resume {
    border: none;
    .left-section {
      color: #000;
      background-color: #FFF;
      border-right: 1px solid #ddd;
      padding: 0 0.8rem;
      .label {
        color         : #000;
        background-color: #FFF;
        border-top    : solid 1px #ddd;
        border-bottom : solid 1px #ddd;
      }
    }
    .right-section {
      .label {
        color         : #000;
      }
    }
  }
}


