<div class="container page-content">
  <div class="row print-hidden">
    <h1 class="title ml-3">
      <i class="fa fa-user" aria-hidden="true"></i>
      Resume
    </h1>
  </div>
  <hr class="print-hidden">

  <div class="row resume">
    <div class="col-4 left-section">
      <div class="section">
        <h3><b>Yan (Grace) Huo</b></h3>
        <h4>Senior M&E IT Business Process Specialist</h4>
      </div>
      <h4 class="label"><b>Personal Info</b></h4>
      <div class="section">
        <b>Email</b><br>
        <span>yangracehuo@gmail.com</span>
      </div>
      <div class="section">
        <b>Address</b><br>
        <span>12804 Quail Creek Dr.</span><br>
        <span>Pearland, TX, 77584</span>
      </div>
      <div class="section">
        <b>Phone</b><br>
        <span>352-278-6271</span>
      </div>
      <div class="section">
        <b>Website</b><br>
        <b class="small-text">https://gracehuo.github.io/personalWeb</b>
      </div>
      <h4 class="label"><b>Skills</b></h4>
      <div class="section">
        <b>Database</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-4 m-1">
              <li>SQL</li>
              <li>Redis</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>MongoDB</li>
            </ul>
          </div>
        </div>

        <b>Programming Languages</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-4 m-1">
              <li>JavaScript</li>
              <li>Java</li>
              <li>ObjectScript</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>TypeScript</li>
              <li>Python</li>
              <li>C# / C</li>
            </ul>
          </div>
        </div>

        <b>Frameworks</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-4 m-1">
              <li>React</li>
              <li>Angular</li>
              <li>Ruby on Rails</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>NodeJs</li>
              <li>.NET</li>
            </ul>
          </div>
        </div>

        <b>Web Development</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-4 m-1">
              <li>HTML</li>
              <li>CSS/SASS</li>
              <li>Bootstrap</li>
              <li>Responsive Design</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>RESTful</li>
              <li>jQuery</li>
              <li>AJAX</li>
              <li>JSON</li>
            </ul>
          </div>
        </div>

        <b>Engineering Tools / Cloud</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-4 m-1">
              <li>Git</li>
              <li>Unix/Linux</li>
              <li>Android</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>Azure</li>
              <li>Gulp</li>
              <li>Webpack</li>
            </ul>
          </div>
        </div>

        <b>Testing</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-4 m-1">
              <li>Jest</li>
              <li>Jasmine</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>Selenium</li>
              <li>Katalon</li>
            </ul>
          </div>
        </div>

        <b>Project Management</b><br>
        <div class="row p-0">
          <div class="col-6 p-0">
            <ul class="pl-4 m-1">
              <li>Agile</li>
            </ul>
          </div>
          <div class="col-6 p-0">
            <ul class="m-1">
              <li>Change Management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 item right-section">
      <h4 class="label col-12 mt-0"><b>Industrial Experience</b></h4>
      <div class="section">
        <div class="row">
          <div class="col-8 item">
            <b>Dow </b><br>
            <i>Senior M&E IT Business Process Specialist</i>
          </div>
          <div class="col-4 text-right">
            <span class="">May 2019-present</span><br>
            <span>Lake Jackson, TX </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 item">
            <ul class="m-0">
              <li>Create innovative digital solutions to improve manufacturing and engineering productivity</li>
              <li>Select, config and integrate purchased enterprise software for manufacturing & engineering operations</li>
              <li>Develop custom solutions and API's</li>
              <li>Conduct testing (both manual and automated) to ensure application stability and fit for purpose</li>
              <li>Gather solution requirements and perform business process analysis</li>
              <li>Update business process documentation and define most effective technology standards</li>
              <li>Work closely with business improvement leaders and technology center representatives to evaluate business needs and solicit opportunities for improvement</li>
              <li>Work with third party developers to deliver solution scope successfully on time and within budget</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row">
          <div class="col-8 item">
            <b>Dow </b><br>
            <i>Improvement Manager</i>
          </div>
          <div class="col-4 text-right">
            <span class="">May 2019-present</span><br>
            <span>Lake Jackson, TX </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 item">
            <ul class="m-0">
              <li>Introduced software QA testing practices to TES IT software
                development team, resulting in significant improvement in
                quality of sotware deliverables</li>
              <li>Created an improvement intiative to implement a automation
                testing framework</li>
              <li>Led the development and execution of test plans and scripts
                for project-based, new software rollout. Tests include unit
                testing and integration testing using Jest, as well as web UI
                testing using Selenium</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row">
          <div class="col-8 item">
            <b>Intersystems Corp. </b><br>
            <i>Software Engineer</i>
          </div>
          <div class="col-4 text-right">
            <span class="">Feb 2017-May 2019</span><br>
            <span>Cambridge, MA </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 item">
            <ul class="m-0">
              <li> Developed HealthShare Reporting product for reports
                generation and management using Angular and d3.js.
                (Key features: responsive, intuitive, flexible chart generation,
                download & print service, SSO)</li>
              <li> Developed responsive and mobile friendly next generation
                HealthShare Clinical Viewer for searching and viewing patient
                records, serving HealthShare customers around the world,
                including VA, HIXNY, and Healthix</li>
              <li> Maintained HealthShare UI framework and supported HealthShare
                product releases, including Personal Community (a patient
                portal) and Provider Directory</li>
              <li> Assisted the support team to fix product issues per customer
                request </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row">
          <div class="col-8 item">
            <b>Neusoft Corp. </b><br>
            <i>Intern Software Engineer</i>
          </div>
          <div class="col-4 text-right">
            <span class="">Jun 2015-Aug 2015</span><br>
            <span>Shenyang, China </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 item">
            <ul class="m-0">
              <li> Developed a mobile education app using Java</li>
            </ul>
          </div>
        </div>
      </div>

      <h4 class="label col-12"><b>Education</b></h4>
      <div class="section">
        <div class="row">
          <div class="col-8 item">
            <b>Tufts University </b><i>MS in Computer Science</i><br>
            <ul class="m-0">
              <li>GPA: 3.95/4.00</li>
            </ul>
          </div>
          <div class="col-4 text-right">
            <span class="">Jan 2017</span><br>
            <span>Medford, MA </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 item">
            <ul class="m-0">
              <li>Research assistant in Human-Computer Interaction Lab. Designed
                and implemented a mobile app to communicate with smart
                wristband and detect emotion arousals in real-time
              </li>
              <li>Teaching assistant for courses: <i>Database</i> and <i>Algorithm</i></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row">
          <div class="col-9 item">
            <b>Tufts University </b><i>Post-Bac in Computer Science</i><br>
            <ul class="m-0">
              <li>GPA: 4.00/4.00</li>
            </ul>
          </div>
          <div class="col-3 text-right">
            <span>May 2015</span><br>
            <span>Medford, MA </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 item">
            <ul class="m-0">
              <li>Selected Courses: Machine Learning, Data Structures, Web Eng.,
                Operating Systems, Programming Languages</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="row">
          <div class="col-8 item">
            <b>University of Florida </b><i>MS in Chemistry</i><br>
            <ul class="m-0">
              <li>GPA: 3.87/4.00</li>
            </ul>
          </div>
          <div class="col-4 text-right">
            <span class="">May 2014</span><br>
            <span>Gainesville, FL </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 item">
            <ul class="m-0">
              <li>PhD candidate focused on synthetic, bioinorganic and physical
                inorganic chemistry</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
