/* global styles*/
$blue : #68D0D3;
$red : #E63955;
$yellow : #D1C937;
$background-color : #EAE4E4;

body {
  font-family : 'Josefin Sans', sans-serif !important;
}

.fill-screen {
  background-size     : cover;
  background-position : center;
  width               : 100%;
}

.home-container {
  margin-top: 50px;
  .home-left-container {
    background-color : #E5E5E5;
    padding: 25px;
    .my-pic {
      max-width: 50%;
      margin-bottom: 25px;
    }
  }

  .home-right-container {
    background-color : #F1F1F1;
    padding: 25px;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 0.6rem;
  color: #FFF;

  &.btn-xl {
    width: 76px;
    height: 76px;
    border-radius: 38px;
    font-size: 0.7rem;
  }

  &.first {
    background-color: $red;
  }

  &.second {
    background-color: $blue;
  }

  &.third {
    background-color: $yellow;
  }
}

// Nto prevent the flash on initial load
.wow {
  visibility: hidden;
}



