/* global styles*/
$blue : #68D0D3;
$red : #E63955;
$yellow : #D1C937;
//#EAE4E4

body {
  font-family : 'Josefin Sans', sans-serif !important;
}

.title {
  margin-top: 1.5rem;
}

.fill-screen {
  background-size     : cover;
  background-position : center;
  width               : 100%;
  min-height          : 630px;
}

.btn-circle {
  width         : 30px;
  height        : 30px;
  border-radius : 15px;
  text-align    : center;
  font-size     : 0.6rem;
  color         : #FFF;

  &.btn-xl {
    width         : 76px;
    height        : 76px;
    border-radius : 38px;
    font-size     : 0.8rem;
  }

  &.first {
    background-color : $red;
  }

  &.second {
    background-color : $blue;
  }

  &.third {
    background-color : $yellow;
  }
}

.fa.fa-circle, .subtitle {
  &.first {
    color : $red;
  }

  &.second {
    color : $blue;
  }

  &.third {
    color : $yellow;
  }
}

// to prevent the flash on initial load
.wow {
  visibility : hidden;
}



