<div class="container-fluid">
  <div class="row">
    <div class="fill-screen" style="background-image: url('../../assets/img/background.jpg')"
         stellar-bg data-stellar-background-ratio="0.2">
      <div class="container">
        <div class="row home-container">
          <!--left-->
          <div class="col-sm-6 home-left-container">
            <div class="container-fluid">
              <!--my pic-->
              <div class="row justify-content-center align-items-center">
                <img src="../../assets/img/myPicture.jpg"
                     class="my-pic img-fluid rounded-circle img-thumbnail"
                     alt="My Picture">
              </div>

              <!--about me-->
              <div class="row justify-content-center">
                <h2 class="w-75"> Hello,</h2>
                <h3 class="w-75"> a bit about me:</h3>
              </div>

              <!--buttons-->
              <div class="row justify-content-around">
                <button type="button" class="btn first btn-circle btn-xl"><span>RESUME</span></button>
                <button type="button" class="btn second btn-circle btn-xl"><span>SKILLS</span></button>
                <button type="button" class="btn third btn-circle btn-xl"><span>STORIES</span></button>
              </div>

            </div>
          </div>
          <!--right-->
          <div class="col-sm-6 home-right-container">
            <h2> Yan (Grace) Huo </h2>
            <p>123</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="fill-screen" style="background-image: url('../../assets/img/test.jpg')">
    </div>
  </div>
</div>
