<div class="container-fluid page-content">
  <!--small screen-->
  <div class="row shown-small">
    <div class="col-12 home-right-container">
      <h2> {{name}} </h2>
      <h5>{{position|uppercase}}</h5>
      <span *ngFor="let des of descriptions">{{des}}<br/></span>
        <h6><b>Cell Phone:</b></h6>
        <span>{{cell}}</span>
        <h6><b>Work Phone:</b></h6>
        <span>{{workPhone}}</span>
        <h6><b>Email:</b></h6>
        <span>{{email}}</span>
        <h6><b>Address:</b></h6>
        <span>{{address.street}}</span><br/>
          <span>{{address.city}}, {{address.state}}, {{address.zip}}</span><br/>
          </div>
        </div>

        <!--large screen-->
        <div class="row up hidden-small">
          <div class="fill-screen"
            [style.height.px]="windowHeight"
            style="background-image:
            url('http://res.cloudinary.com/dbinsowan/image/upload/v1513215606/background_eomx9u.jpg')"
            stellar-bg data-stellar-background-ratio="0.2">
            <div class="container">
              <div class="row home-container">
                <!--left-->
                <div class="col-sm-6 home-left-container wow fadeInLeft"
                  data-wow-duration="1s">
                  <div class="container-fluid">
                    <!--my pic-->
                    <div class="row justify-content-center align-items-center">
                      <img
                        src="http://res.cloudinary.com/dbinsowan/image/upload/v1513215608/myPicture_elrzlo.jpg"
                        class="my-pic img-fluid rounded-circle img-thumbnail"
                        alt="My Picture">
                    </div>

                    <!--about me-->
                    <div class="row justify-content-center">
                      <h2 class="w-75"> Hello,</h2>
                      <h4 class="w-75"> a bit about me:</h4>
                    </div>

                    <!--buttons-->
                    <div class="row justify-content-around">
                      <button *ngFor="let item of homeButtons"
                        type="button"
                        class="btn btn-circle btn-xl text-light wow swing
                        {{item.cssClass}}"
                        [routerLink]="[item.routerLink]"
                        data-wow-delay="1.5s">
                        <b>{{item.label}}</b>
                      </button>
                    </div>

                  </div>
                </div>
                <!--right-->
                <div class="col-sm-6 home-right-container wow fadeInRight"
                  data-wow-duration="1s">
                  <h2> {{name}} </h2>
                  <h5>{{position|uppercase}}</h5>
                  <span *ngFor="let des of descriptions">{{des}}<br/></span>
                    <h6><b>Phone:</b></h6>
                    <span>{{phone}}</span>
                    <h6><b>Email:</b></h6>
                    <span>{{email}}</span>
                    <h6><b>Address:</b></h6>
                    <span>{{address.street}}</span><br/>
                      <span>{{address.city}}, {{address.state}}, {{address.zip}}</span><br/>
                      </div>
                    </div>


                  </div>
                </div>

                <!--arrow-->
                <div class="arrow-down hidden-small" [hidden]="isArrowHidden">
                  <div class="row justify-content-center align-items-center">
                    <a class="btn" (click)="scrollDown()">
                      <i class="fa fa-arrow-circle-down fa-4x"
                        aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="row down">
                <div class="fill-screen"
                  [style.height.px]="windowHeight">
                  <div class="container">
                    <!--arrow-->
                    <div class="row mt-5 justify-content-center
                      align-items-center d-none d-lg-flex">
                      <a class="btn" (click)="scrollUp()">
                        <i class="fa fa-arrow-circle-up fa-4x"
                          aria-hidden="true"></i>
                      </a>
                    </div>

                    <!--characteristics-->
                    <div class="row">
                      <div class="col-12">
                        <h2 class="mt-4 mb-2">I am a:</h2>
                      </div>
                      <div class="col-12">
                        <div class="mt-4 wow fadeInRight"
                          *ngFor="let characteristic of characteristics; let
                          i=index">
                          <h4 class="text" [ngClass]="{'first':i===0,
                            'second':i===1, 'third':i===2}">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            {{characteristic.name | uppercase}}
                          </h4>
                          <span>{{characteristic.details}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
